<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="icon" href="./icon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./icon.ico" type="image/x-icon">
    <title>超爱玩</title>
    <style>
        body {
            padding: 0px;
            margin: 0px;
        }

        .top {
            background: #000;
            color: #fff;
            height: 80px;
            width: 100%;
            display: flex;
            align-items: center;
        }

        .topText {
            margin-left: 20px;
        }

        .topIconStyle {
            padding: 5px;
            width: 150px;
            height: 30px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #999;
        }

        .bottom {
            position: fixed;
            bottom: 0;
            background: #000;
            color: #fff;
            height: 160px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div>
        <div class="top">
            <div style="margin-left: 200px;width: 50px;height: 50px;background: #fff;display: flex;
            align-items: center;justify-content: center;">
                <img src="./iconBox.png" alt="Pulpit rock" width="50" height="50" style="border-radius: 8px;" />
            </div>
            <div style="margin-left: 20px;">
                <span>超爱玩</span>
            </div>
            <div style="margin-left: 500px;display: flex;align-items: center;">
                <div class="topText">
                    <span>首页</span>
                </div>
                <div class="topText">
                    <span>全部游戏</span>
                </div>
                <div class="topText">
                    <span>APP下载</span>
                </div>
                <div class="topText">
                    <span>联系我们</span>
                </div>
            </div>
        </div>
        <div style="display: flex;width: 100%;">
            <div style="display: flex;margin-top: 100px;">
                <div style="display: flex;flex-direction:column;justify-content:center;width:50%;align-items: center;">
                    <img src="./iconBox.png" alt="Pulpit rock" width="150" height="150" style="border-radius: 10px;" />

                    <div style="margin-top:5px">
                        <span style="margin-left: 20px;font-weight: bold;">爱玩就上超爱玩</span>
                    </div>
                    <div>
                        <span style="margin-left: 20px;font-weight: bold;">超级好玩的互动游戏APP</span>
                    </div>
                    <div style="margin-top:10px;width:50%">
                        <span>
                            当代年轻人们都爱沉迷什么，当然是“超爱玩”的游戏社交模式——
                        </span>
                    </div>
                    <div style="margin-top:10px;width:50%">
                        <span>
                            【语音交友】是趋势，不用面对面，只有灵魂在沟通，讲个段子，唱首流行歌，谈谈生活的趣事，不是所有的故事都需要相逢。
                        </span>
                    </div>
                    <div style="margin-top:10px;width:50%">
                        <span>
                            【休闲游戏】来助兴，简单刺激的炸弹猫，2v4的贪吃狼，随时随地SOLO的宝石达人， 3分钟一盘，边玩边聊，游戏的结果不重要，快告诉我刚刚谁笑得最大声。
                        </span>
                    </div>
                    <div style="margin-top:10px;width:50%">
                        <span>
                            【动态广场】最感动，指尖轻扫，就能探索他和她的所有故事，不经意间就能找到青春时的你。据说
                            ，99%的缘分都发生在这里，遇见和你一样超爱玩的“玩友”，陪伴每一个清晨和深夜！
                        </span>
                    </div>
                </div>
                <div style="display: flex;align-items: center;margin-left: 150px;">
                    <img src="./qrcode.png" alt="Pulpit rock" width="150" height="150" style="border-radius: 10px;" />
                    <div style="margin-left: 10px;">
                        <div class="topIconStyle">
                            <span>ios下载</span>
                        </div>
                        <div class="topIconStyle" style="margin-top: 10px;">
                            <span>安卓下载</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%;display: flex;justify-content: center;align-items: center;margin-top: 50px;">
            <a href="./userserve.html" target="_blank" style="color: #333;text-decoration: none;">
                <div
                    style="border: 1px #666 solid;padding: 10px;border-radius: 20px;padding-left: 20px;padding-right: 20px;">
                    <span>用户协议</span>
                </div>
            </a>
            <a href="./privacypolicy.html" target="_blank" style="color: #333;text-decoration: none;">

                <div
                    style="border: 1px #666 solid;padding: 10px;border-radius: 20px;padding-left: 20px;padding-right: 20px;margin-left:40px;">
                    <span>隐私策略</span>
                </div>
            </a>
            <a href="./cancellationAgreement.html" target="_blank" style="color: #333;text-decoration: none;">
                <div
                    style="border: 1px #666 solid;padding: 10px;border-radius: 20px;padding-left: 20px;padding-right: 20px;margin-left:40px;">
                    <span>注销须知</span>
                </div>
            </a>
            <a href="./InformationContent.html" target="_blank" style="color: #333;text-decoration: none;">

                <div
                    style="border: 1px #666 solid;padding: 10px;border-radius: 20px;padding-left: 20px;padding-right: 20px;margin-left:40px;">
                    <span>信息内容管理规范</span>
                </div>
            </a>
        </div>
        <div class="bottom">
            <div style="margin-right: 100px;">
                <div style="margin-bottom: 20px;">
                    <span>
                        公司全称：重庆海游科技有限公司
                    </span>
                </div>
                <div>
                    <span>
                        公司地址：重庆市北部新区东湖南路40号4幢3-15
                    </span>
                </div>
            </div>
            <div>
                <div style="margin-bottom: 20px;">
                    <span>
                        文网文：渝网文（2015）1150-011号
                    </span>
                    <div>
                        <span>
                            电信增值业务许可证：渝B2-20160061
                        </span>
                    </div>
                </div>
                <div>
                    <a href="http://beian.miit.gov.cn" target="_blank" style="color: #FFF;text-decoration: none;">
                        网站备案号：渝ICP备14009259号-6
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>