<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="icon" href="./icon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./icon.ico" type="image/x-icon">
    <title>超爱玩信息内容管理规范</title>
</head>
<style>
    body {
        display: block;
        margin: 8px;
    }
</style>

<body>

    <p><strong>超爱玩信息内容管理规范</strong></p>
    <p>
        积极响应国家净化网络文化市场环境，维护超爱玩社区氛围和秩序，营造健康向上的网络环境，坚决抵制不健康内容，严厉打击任何形式的违法违规行为。
    </p>
    <p>
        超爱玩用户帐号头像、昵称、个性签名等注册信息和认证资料及用户在超爱玩平台上传、发布、传输的所有文字、
        图片、音频均不得含有违背国家法律法规政策和社会公序良俗、
        危害国家及社会公共利益、侵犯第三方合法权益等内容。如有发布以下违规内容，超爱玩平台有权直接删除或屏蔽违规内容，同时给予用户禁言、封禁账号等处罚。
    </p>

    <p><strong>【违规行为】</strong>
    <p>
        （1）反对宪法确定的基本原则的；
    </p>
    <p>
        （2）危害国家统一、主权和领土完整的；
    </p>
    <p>
        （3）泄露国家秘密，危害国家安全或者损害国家荣誉和利益的；
    </p>
    <p>
        （4）煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的；
    </p>
    <p>
        （5）破坏国家宗教政策，宣扬邪教、迷信的；
    </p>
    <p>
        （6）散布谣言，扰乱社会秩序，破坏社会稳定的；
    </p>
    <p>
        （7）宣传淫秽、赌博、暴力或者教唆犯罪的；
    </p>
    <p>
        （8）侮辱或者诽谤他人，侵害他人合法权益的；
    </p>
    <p>
        （9）危害社会公德或者民族优秀文化传统的；
    </p>
    <p>
        （10）含有法律、行政法规禁止的其他内容的。
    </p>
    <p>
        （11）发布不健康的交友信息，包括不限于以下行为：打着色情擦边，伴有性暗示类的交友信息（例如：一夜情、换妻等。）；不被我国社会公众道德所广泛接纳的亚文化类交友信息（例如：SM）。
    </p>
    <p>
        （12）发布色情，伴有性暗示类的图片、文字。包括但不限于：裸露身体敏感部位；伴有性暗示，诱惑意味的图片或描写和大尺度的自拍图片。
    </p>
    <p>
        （13）影响未成年身心健康，误导未成年正确价值观导的；
    </p>
    <p>
        （14）发布违法违规广告的广告推广信息，包含但不限于：带有文字导流性质的内容，形式包括但不限于文字，图片，链接，二维码，QQ（群），微信（群），公众号等；
    </p>
    <p>
        （15）传播、组织或者参与线上、线下赌博的;
    </p>
    <p>
        （16）展示违禁药物、毒品，违禁枪支、刀具等;
    </p>
    <p>
        （17）展示虐待或者食用国家保护动物、稀有动物的行为;
        （18）发布出售游戏币、代充代退的。
    </p>
    </p>

    <p><strong>附则：</strong>
        <p>
            本规范超爱玩平台有权根据相关法律法规或产品运营需要对本规范内容进行修改并公示。本规范自发布之日起生效并实施，
            适用于超爱玩平台所有用户。用户使用超爱玩平台服务即视为对本规范的接受，对用户具有法律约束力。
        </p>
    </p>
</body>

</html>